<!-- Name: Mark Erolle D. Quiambao Section: WD-303 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js"></script> 
    <link rel="stylesheet" href="style/res.css">
    <title>Mark Erolle Quiambao | Resume using Vue</title>
</head>
<body>
    <main id="app">
        <!-- Container for both left and right -->
        <div class="container">
            <!-- Profile container or the left container-->
            <!-- Profile picture -->
            <div class="left-container">
                <img src="https://scontent.fcrk1-5.fna.fbcdn.net/v/t1.15752-9/459385970_1247035506732029_3558658731421739884_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=9f807c&_nc_eui2=AeGg_v3qcZDQyMqz7SzYYN22mE-4OalazUiYT7g5qVrNSGDhnptT8uQ-RurkpWJyxV2e5xUHBY2cBrPNMyaFnSvM&_nc_ohc=CaBZ9kH0spMQ7kNvgG5jxmE&_nc_ht=scontent.fcrk1-5.fna&oh=03_Q7cD1QE7c9ynh8724qDa_HSkOCFVvZ-XVfCPitzfS5CrUjohvA&oe=67184078" alt="profile Picture">
                <!-- My name and my Course -->
                <div class="name">
                    <h2 class="section">{{ name }}</h2>
                    <h2>{{ specialize }}</h2>
                </div>
                <hr>
                
                <!-- My Contacts -->
                <div class="contact">
                    <h2>CONTACT INFO</h2>
                    <h3>Phone: {{ number }}</h3>
                    <h3>Email: {{ email }}</h3>
                    <h3>GitHub: {{ github }}</h3>
                </div>

                <!-- Education -->
                <div class="education">
                    <h2>EDUCATION</h2>
                    <h3>{{ course }}</h3>
                    <h3>RELEVANT COURSE WORK:</h3>
                    <ul class="educ-ul">
                        <li v-for="relevant in relevantCoursework" :key="relevant"> {{ relevant }}</li>
                    </ul>
                    <h3>School: {{ school }}</h3>
                </div>            
            </div>

            <!-- Right Container or my personal information--->
            <div class="right-container">
                <div class="inside-right">

                    <!-- Professional summary -->
                    <div class="prof-sum">
                        <h2>PROFESSIONAL SUMMARY</h2>
                        <h5>{{ profsum }}</h5>

                        <ul>
                            <h5><li v-for="summary in profsum2" :key="summary"> {{ summary }}</li></h5>
                        </ul>

                        <h5>{{ profsum3 }}</h5>

                        <!-- Technical Skills-->
                        <div class="technical">
                            <h2>TECHNICAL SKILLS</h2>
                            <h3>Languages:</h3>
                            <ul>
                                <h4><li v-for="skill in languageskill" :key="skill">{{ skill }}</li></h4>
                            </ul>   
                            <h3>Database:</h3>
                            <ul>
                                <h4><li v-for="db in dbskill" :key="db">{{ db }}</li></h4>
                            </ul>
                            <h3>Frameworks and Libraries:</h3>
                            <ul>
                                <h4><li v-for="fw in framework" :key="fw">{{ fw }}</li></h4>
                            </ul>
                            <h3>Tools and Platforms:</h3>
                            <ul>
                                <h4><li v-for="tool in tools" :key="tool">{{ tool }}</li></h4>
                            </ul>
                        </div>
                    </div>

                    <!-- Projects -->
                    <div class="projects">
                        <h2>PROJECTS</h2>

                        <div class="project-box" v-for="proj in projects" :key="proj.name">
                            <h3>{{ proj.name }}</h3>
                            <h4>{{ proj.description }}</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 | Quiambao, Mark Erolle D. | WD - 303</p>
    </footer>

    <!-- Vue Initialization -->
    <script src="./script/script.js"></script>
</body>
</html>
